@font-size-reg: 1.2rem;
@body-font-fam: 'Montserrat', sans-serif;
@title-font-fam: 'Noto Sans JP', sans-serif;
@link-font-fam: 'Lato', sans-serif;
@link-visited: rgb(247, 203, 247);
@link: rgba(0, 40, 120, 1);
@body-font-color: rgba(73, 72, 80, 1);
@title-font-color: rgba(73, 72, 80, 1);
@background-color: rgb(255, 255, 255);
@script-font: 'Great Vibes', cursive;
@cpblue: rgba(0, 40, 120, 1);

body{
    margin: 0;
}
.header.top{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    background: @cpblue;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 10px 40px;
    font-family: @body-font-fam;
    .phone{
        a{
            color:white;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
.body-wrapper{
    .logo{
        width: 175px;
    }
    .header-wrapper{
        display: flex;
        margin: 20px 0;
        padding: 0 40px;
        .logo-wrapper{
            width: 20%;
        }
        .shortcut-wrapper{
            width: 80%;
            margin: auto 0;
            .shortcuts{
                display: flex;
                list-style: none;
                justify-content: flex-end;
                a{
                    color: @cpblue;
                    position: relative;
                    text-decoration: none;
                    font-family: @link-font-fam;
                    font-size: 18px;
                    transition: all .2s ease-in-out;
                    &:hover{
                        transform: scale(1.1);
                        text-decoration: underline;
                    }
                }
                a:not(:last-of-type){
                    margin-right: 40px
                }
            }
        }
    }
    .image.full-width{
        background:url("images/hero.jpeg");
        height: 50vh;
        background-attachment: fixed;
        background-position: top;
        .slogan{
            color: white;
            font-size: 48px;
            text-align: center;
            margin: auto;
            padding-top: 20vh;
            font-family: @title-font-fam;
            letter-spacing: 2px;
        }
    }
    .list-of-services{
        padding: 40px 0;;
        .our-services{
            text-align: center;
            font-family: @title-font-fam;
            text-transform: uppercase;
            margin: 0;
        }
        .tri-list{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 40px 0;
            .card{
                color: @cpblue;
                transition: all .2s ease-in-out;
                text-decoration: none;
                width: 33%;
                &:hover{
                    transform: scale(1.1);
                }
                .icon-title{
                    display: flex;
                    flex-direction: column;
                    .material-icons{
                        text-align: center;
                        font-size: 50px;
                    }
                    .title{
                        font-size: 26px;
                        font-family: @body-font-fam;
                        text-decoration: none;
                        text-align: center;
                        color: @cpblue;
                    }
                }
            }
        }
    }
    .button-wrapper{
        background-color: @cpblue;
        text-align: center;
        display: flex;
        .button{
            color: white;
            text-decoration: none;
            font-family: @body-font-fam;
            margin: 40px auto;
            font-size: 21px;
            font-weight: 600;
            padding: 15px;
            background-color: @body-font-color;
            background-image: linear-gradient(@body-font-color, lighten(@body-font-color, 10%));
            &:hover{
                background-color: darken(@body-font-color, 10%);
                background-image: linear-gradient(@body-font-color, darken(@body-font-color, 10%));

            }
        }
    }
    .content-wrapper{
        padding: 0 40px;
        .text{
            font-family: @body-font-fam;
            line-height: 1.3rem;
            
        }
        .home-text{
            max-width: 875px;
            margin: 0 auto;
            padding: 40px 0;
        }
    }
    .map-section{
        background: @cpblue;
        padding: 40px 0;
        .map-wrapper{
            display: flex;
            iframe{
                margin: 0 auto;
            }
        }
    }
    .footer-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 40px;
    background-color: @body-font-color;
    background-image: linear-gradient(@body-font-color, lighten(@body-font-color, 10%));
    .logo{
        padding: 10px 0;
    }
    .shortcuts{
        position: relative;
        margin: auto 0;
        .copyright{
            color: white;
            font-family: @body-font-fam;
        }
        a{
            position: relative;
            bottom: 0;
            margin: 0 5px;
            color: white;
            text-decoration: none;
            font-family: @link-font-fam;
            &:hover{

                color: @cpblue;
            }
        }
    }
    }
    .back-to-top{
        position: fixed;
        bottom: 60px;
        right: 20px;
        background: white;
        padding: 10px;
        border-radius: 30px;
        display: none;
        &:hover{
            transform: scale(1.1);
        }
        .btt-button{
            i{
                color: @cpblue;
            }
        }
    }
}

// content pages
.about-us.content-page{
    .blue{
        iframe{
            margin: 0 auto;
            padding: 40px 0;
        }
    }
    .ac-image-background{
        background: url("images/ac.jpeg")
    }
    .no-padding{
        padding: 0;
    }
    .wrap{
        flex-wrap: wrap;
    }
    .half-width{
        width: 50%;
        img{
            width: 100%;
            max-height: 425px;
        }
    }
}

.content-page{
    .active{
        text-decoration: underline!important;
    }
    .page-title-container{
        background: @cpblue;
        .page-title{
            color: white;
            padding: 20px 40px;
            font-size: 28px;
            font-family: @title-font-fam;

        }
    }
    .content-wrapper{
        display: flex;
        justify-content: space-between;
        img.aside{
            max-width: 600px;
            padding: 40px 0;
            width: 50%;
        }
        .text.content-text{
            width: 50%;
        }
    }
    @media (max-width:1300px){
        .content-wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            img.aside{
                padding: 40px 0;
                width: 100%;
            }
            .text.content-text{
                width: 100%;
            }
        }
    }
    .content-wrapper.blue{
        background: @cpblue;
        color: white;
    }
    .content-text{
        padding: 40px 0;
        font-family: @body-font-fam;
        font-size: 18px;
        .content-list{
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            margin: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
    
        }
    }
}

//Slide In
.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
  }
  .come-in:nth-child(odd) {
    animation-duration: 0.6s; /* So they look staggered */
  }
  
  @keyframes come-in {
    to { transform: translateY(0); }
  }