@font-size-reg: 1.2rem;
@body-font-fam: 'Montserrat', sans-serif;
@title-font-fam: 'Noto Sans JP', sans-serif;
@link-font-fam: 'Lato', sans-serif;
@link-visited: rgb(247, 203, 247);
@link: rgba(0, 40, 120, 1);
@body-font-color: rgba(73, 72, 80, 1);
@title-font-color: rgba(73, 72, 80, 1);
@background-color: rgb(255, 255, 255);
@script-font: 'Great Vibes', cursive;
@cpblue: rgba(0, 40, 120, 1);

body{
    margin: 0;
}
.header.top{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    background: @cpblue;
    color: #fff;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 10px 40px;
}
.body-wrapper{
    .logo{
        width: 175px;
    }
    .header-wrapper{
        display: flex;
        margin-bottom: 20px;
        padding: 0 40px;
        .logo-wrapper{
            width: 20%;
        }
        .shortcut-wrapper{
            width: 80%;
            margin: auto 0;
            .shortcuts{
                display: flex;
                list-style: none;
                justify-content: flex-end;
                a{
                    color: @cpblue;
                    position: relative;
                    text-decoration: none;
                    font-family: @link-font-fam;
                    font-size: 18px;
                    &:hover{
                        background-color: @cpblue;
                        color: white;
                        padding: 10px 20px;
                        border-radius: 10px 0 10px 0;
                    }
                }
                a:not(:last-of-type){
                    margin-right: 40px
                }
            }
        }
    }
    .image.full-width{
        background:url("images/hero.jpeg");
        height: 50vh;
        background-attachment: fixed;
        background-position: center;
        .slogan{
            color: white;
            font-size: 48px;
            text-align: center;
            margin: auto;
            padding-top: 20vh;
            font-family: @title-font-fam;
            letter-spacing: 2px;
        }
    }
    .list-of-services{
        padding: 40px 0;;
        .our-services{
            text-align: center;
            font-family: @title-font-fam;
            text-transform: uppercase;
            margin: 0;
        }
        .tri-list{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 20px 0;
            .card{
                text-decoration: none;
                .icon-title{
                    display: flex;
                    flex-direction: column;
                    .material-icons{
                        text-align: center;
                        font-size: 50px;
                    }
                    .title{
                        text-decoration: none;
                        font-size: 26px;
                        text-decoration: none;
                        color: @cpblue;
                    }
                }
            }
        }
    }
    .button-wrapper{
        background-color: @cpblue;
        text-align: center;
        display: flex;
        .button{
            color: white;
            text-decoration: none;
            font-family: @body-font-fam;
            margin: 25px auto;
            font-size: 18px;
            font-weight: 500;
            padding: 15px;
            background-color: @body-font-color;
            background-image: linear-gradient(@body-font-color, lighten(@body-font-color, 10%));
            &:hover{
                background-color: darken(@body-font-color, 10%);
                background-image: linear-gradient(@body-font-color, darken(@body-font-color, 10%));

            }
        }
    }
    .content-wrapper{
        padding: 0 40px;
        .text{
            font-family: @body-font-fam;
            line-height: 1.3rem;
            
        }
        .home-text{
            max-width: 875px;
            margin: 0 auto;
            padding: 40px;
        }
    }
    .footer-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 40px;
    background-color: @body-font-color;
    background-image: linear-gradient(@body-font-color, lighten(@body-font-color, 10%));
    .logo{
        padding: 10px 0;
    }
    .shortcuts{
        position: relative;
        margin: auto 0;
        .copyright{
            color: white;
            font-family: @body-font-fam;
        }
        a{
            position: relative;
            bottom: 0;
            margin: 0 5px;
            color: white;
            text-decoration: none;
            font-family: @link-font-fam;
            &:hover{

                color: @cpblue;
            }
        }
    }
    }
}
