body {
  margin: 0;
}
.header.top {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  background: #002878;
  color: #fff;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 10px 40px;
  font-family: 'Montserrat', sans-serif;
}
.header.top .phone a {
  color: white;
  text-decoration: none;
}
.body-wrapper .logo {
  width: 175px;
}
.body-wrapper .header-wrapper {
  display: flex;
  margin-bottom: 20px;
  padding: 0 40px;
}
.body-wrapper .header-wrapper .logo-wrapper {
  width: 20%;
}
.body-wrapper .header-wrapper .shortcut-wrapper {
  width: 80%;
  margin: auto 0;
}
.body-wrapper .header-wrapper .shortcut-wrapper .shortcuts {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.body-wrapper .header-wrapper .shortcut-wrapper .shortcuts a {
  color: #002878;
  position: relative;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
.body-wrapper .header-wrapper .shortcut-wrapper .shortcuts a:hover {
  background-color: #002878;
  color: white;
  padding: 10px 20px;
  border-radius: 10px 0 10px 0;
}
.body-wrapper .header-wrapper .shortcut-wrapper .shortcuts a:not(:last-of-type) {
  margin-right: 40px;
}
.body-wrapper .image.full-width {
  background: url("images/hero.jpeg");
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
}
.body-wrapper .image.full-width .slogan {
  color: white;
  font-size: 48px;
  text-align: center;
  margin: auto;
  padding-top: 20vh;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 2px;
}
.body-wrapper .list-of-services {
  padding: 40px 0;
}
.body-wrapper .list-of-services .our-services {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  text-transform: uppercase;
  margin: 0;
}
.body-wrapper .list-of-services .tri-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 0;
}
.body-wrapper .list-of-services .tri-list .card {
  text-decoration: none;
}
.body-wrapper .list-of-services .tri-list .card .icon-title {
  display: flex;
  flex-direction: column;
}
.body-wrapper .list-of-services .tri-list .card .icon-title .material-icons {
  text-align: center;
  font-size: 50px;
}
.body-wrapper .list-of-services .tri-list .card .icon-title .title {
  font-size: 26px;
  text-decoration: none;
  color: #002878;
}
.body-wrapper .button-wrapper {
  background-color: #002878;
  text-align: center;
  display: flex;
}
.body-wrapper .button-wrapper .button {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 40px auto;
  font-size: 21px;
  font-weight: 600;
  padding: 15px;
  background-color: #494850;
  background-image: linear-gradient(#494850, #61606b);
}
.body-wrapper .button-wrapper .button:hover {
  background-color: #313035;
  background-image: linear-gradient(#494850, #313035);
}
.body-wrapper .content-wrapper {
  padding: 0 40px;
}
.body-wrapper .content-wrapper .text {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3rem;
}
.body-wrapper .content-wrapper .home-text {
  max-width: 875px;
  margin: 0 auto;
  padding: 40px 0;
}
.body-wrapper .map-section {
  background: #002878;
  padding: 40px 0;
}
.body-wrapper .map-section .map-wrapper {
  display: flex;
}
.body-wrapper .map-section .map-wrapper iframe {
  margin: 0 auto;
}
.body-wrapper .footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 40px;
  background-color: #494850;
  background-image: linear-gradient(#494850, #61606b);
}
.body-wrapper .footer-wrapper .logo {
  padding: 10px 0;
}
.body-wrapper .footer-wrapper .shortcuts {
  position: relative;
  margin: auto 0;
}
.body-wrapper .footer-wrapper .shortcuts .copyright {
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.body-wrapper .footer-wrapper .shortcuts a {
  position: relative;
  bottom: 0;
  margin: 0 5px;
  color: white;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}
.body-wrapper .footer-wrapper .shortcuts a:hover {
  color: #002878;
}
.body-wrapper .back-to-top {
  position: fixed;
  bottom: 60px;
  right: 20px;
  background: white;
  padding: 10px;
  border-radius: 30px;
}
.body-wrapper .back-to-top .btt-button i {
  color: #002878;
}
