body {
  margin: 0;
}
.header.top {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #002878;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 10px 40px;
  font-family: 'Montserrat', sans-serif;
}
.header.top .phone a {
  color: white;
  text-decoration: none;
}
.header.top .phone a:hover {
  text-decoration: underline;
}
.body-wrapper .logo {
  width: 175px;
}
.body-wrapper .header-wrapper {
  display: flex;
  margin: 20px 0;
  padding: 0 40px;
}
.body-wrapper .header-wrapper .logo-wrapper {
  width: 20%;
}
.body-wrapper .header-wrapper .shortcut-wrapper {
  width: 80%;
  margin: auto 0;
}
.body-wrapper .header-wrapper .shortcut-wrapper .shortcuts {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.body-wrapper .header-wrapper .shortcut-wrapper .shortcuts a {
  color: #002878;
  position: relative;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}
.body-wrapper .header-wrapper .shortcut-wrapper .shortcuts a:hover {
  transform: scale(1.1);
  text-decoration: underline;
}
.body-wrapper .header-wrapper .shortcut-wrapper .shortcuts a:not(:last-of-type) {
  margin-right: 40px;
}
@media (max-width: 700px) {
  .body-wrapper .header-wrapper {
    padding: 0;
    flex-wrap: wrap;
  }
  .body-wrapper .header-wrapper .logo-wrapper {
    width: 100%;
    text-align: center;
  }
  .body-wrapper .header-wrapper .shortcut-wrapper {
    width: 100%;
  }
  .body-wrapper .header-wrapper .shortcut-wrapper .shortcuts {
    justify-content: space-around;
    padding: 0;
  }
  .body-wrapper .header-wrapper .shortcut-wrapper .shortcuts a {
    margin-right: 0!important;
  }
}
.body-wrapper .image.full-width {
  background: url("images/hero.jpeg");
  height: 50vh;
  background-attachment: fixed;
  display: flex;
  background-position: top;
}
.body-wrapper .image.full-width .slogan {
  color: white;
  font-size: 48px;
  text-align: center;
  margin: auto;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 2px;
}
.body-wrapper .list-of-services {
  padding: 40px 0;
}
.body-wrapper .list-of-services .our-services {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  text-transform: uppercase;
  margin: 0;
}
.body-wrapper .list-of-services .tri-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 40px 0;
}
.body-wrapper .list-of-services .tri-list .card {
  color: #002878;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  width: 33%;
}
.body-wrapper .list-of-services .tri-list .card:hover {
  transform: scale(1.1);
}
.body-wrapper .list-of-services .tri-list .card .icon-title {
  display: flex;
  flex-direction: column;
}
.body-wrapper .list-of-services .tri-list .card .icon-title .material-icons {
  text-align: center;
  font-size: 50px;
}
.body-wrapper .list-of-services .tri-list .card .icon-title .title {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-align: center;
  color: #002878;
}
.body-wrapper .button-wrapper {
  background-color: #002878;
  text-align: center;
  display: flex;
}
.body-wrapper .button-wrapper .button {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 40px auto;
  font-size: 21px;
  font-weight: 600;
  padding: 15px;
  background-color: #494850;
  background-image: linear-gradient(#494850, #61606b);
}
.body-wrapper .button-wrapper .button:hover {
  background-color: #313035;
  background-image: linear-gradient(#494850, #313035);
}
.body-wrapper .content-wrapper {
  padding: 0 40px;
}
.body-wrapper .content-wrapper .text {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3rem;
}
.body-wrapper .content-wrapper .home-text {
  max-width: 875px;
  margin: 0 auto;
  padding: 40px 0;
}
.body-wrapper .map-section {
  background: #002878;
  padding: 40px 0;
}
.body-wrapper .map-section .map-wrapper {
  display: flex;
}
.body-wrapper .map-section .map-wrapper iframe {
  margin: 0 auto;
}
.body-wrapper .footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 40px;
  background-color: #494850;
  background-image: linear-gradient(#494850, #61606b);
}
.body-wrapper .footer-wrapper .logo {
  padding: 10px 0;
}
.body-wrapper .footer-wrapper .shortcuts {
  position: relative;
  margin: auto 0;
}
.body-wrapper .footer-wrapper .shortcuts .copyright {
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.body-wrapper .footer-wrapper .shortcuts a {
  position: relative;
  bottom: 0;
  margin: 0 5px;
  color: white;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}
.body-wrapper .footer-wrapper .shortcuts a:hover {
  color: #002878;
}
@media (max-width: 833px) {
  .body-wrapper .footer-wrapper {
    flex-wrap: wrap;
  }
  .body-wrapper .footer-wrapper .logo {
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }
  .body-wrapper .footer-wrapper .logo img {
    max-width: 250px;
    margin: 0 auto;
  }
  .body-wrapper .footer-wrapper .shortcuts {
    width: 100%;
    position: relative;
    margin: auto 0;
    display: flex;
    justify-content: space-evenly;
  }
}
.body-wrapper .back-to-top {
  position: fixed;
  bottom: 60px;
  right: 20px;
  background: white;
  padding: 10px;
  border-radius: 30px;
  display: none;
}
.body-wrapper .back-to-top:hover {
  transform: scale(1.1);
}
.body-wrapper .back-to-top .btt-button i {
  color: #002878;
}
.about-us.content-page .blue iframe {
  margin: 0 auto;
  padding: 40px 0;
}
.about-us.content-page .no-padding {
  padding: 0;
}
.about-us.content-page .wrap {
  flex-wrap: wrap;
}
.about-us.content-page .half-width {
  width: 50%;
  height: 425px;
}
.about-us.content-page .half-width img {
  width: 100%;
  height: 100%;
}
@media (max-width: 769px) {
  .about-us.content-page .half-width img {
    display: none;
  }
}
.content-page .active {
  text-decoration: underline!important;
}
.content-page .page-title-container {
  background: #002878;
}
.content-page .page-title-container .page-title {
  color: white;
  padding: 20px 40px;
  font-size: 28px;
  font-family: 'Noto Sans JP', sans-serif;
}
.content-page .content-wrapper {
  display: flex;
  justify-content: space-between;
}
.content-page .content-wrapper img.aside {
  max-width: 600px;
  padding: 40px 0;
  width: 50%;
}
.content-page .content-wrapper .text.content-text {
  width: 50%;
}
@media (max-width: 1300px) {
  .content-page .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .content-page .content-wrapper img.aside {
    padding: 40px 0;
    width: 100%;
  }
  .content-page .content-wrapper .text.content-text {
    width: 100%;
  }
}
.content-page .content-wrapper.blue {
  background: #002878;
  color: white;
}
.content-page .content-text {
  padding: 40px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
.content-page .content-text .content-list {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.come-in {
  transform: translateY(150px);
  animation: come-in 1s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.8s;
  /* So they look staggered */
}
@keyframes come-in {
  to {
    transform: translateY(0);
  }
}
