.back-to-top{
    position: fixed;
    bottom: 120px;
    right: 20px;
    background: @white;
    padding: 10px;
    border-radius: 30px;
    z-index: 999;
    &:hover{
        transform: scale(1.1);
    }
}
.btt-button i{
        color: @cpblue;
    }
